body {
     font-family: helvetica, sans-serif;
     text-align: justify;
	 width:900px;
	 margin-left: 3em;
	 border: 2px solid black;
	 padding: 4em;	
}

h1 { 
     color: red; 
     text-align: center; 
     font-size: 45px;
}

h3 { 
     color: white; 
     background: black;
	 text-align: center; 
	 font-size: 30px;
}

form { 
     color: black; 
}

fieldset { 
      border: 1px solid green;
	  margin-top: 1em;
}


legend{ 
     color: orange; 
	 text-align: left; 
	 font-size: 28px; 
}

div { 
    color: black; 
    font-size: 20px; 
    padding: 0; 
    text-align: justify; 
    margin-top: 1em;
}

input {
     color: black;
	 font-size: 18px; 
     text-align: right;
}


#logo {
    float: left; 
    margin: 0px 15px 15px 0px;
    width: 200px;
}

#backtohome {
    float: right; 
    width: 100px;
}

